.main {
  z-index: 1;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/public/glassesImage/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(60%);
  z-index: -1;
}
.img-contain {
  width: 300px;
  height: 400px;
}
.img-contain img {
  object-fit: cover;
}
.img-glasses {
  position: absolute;
  top: 106px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.75;
  transition: all 0.5s;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fc733ce7;
  width: 100%;
  text-align: left;
}

.pointer {
  cursor: pointer;
}
